body {
    font-family: monospace;
    background-image: linear-gradient(to right,blue,white,white,blue);
}

h1, h2, table {
    text-align: center;
}

h1 {
    width: 400px;
    margin: 0 auto;
    border: 0.5px solid transparent;
    border-radius: 0.5em;
    box-shadow: 8px 8px 5px transparent;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

h1:hover {
    background-color: green;
    border-color: black;
    box-shadow: 8px 8px 5px #444;
}

h2 {
    color: purple;
}

table {
    border: 2px solid;
    color: purple;
    width: 650px;
    margin: 0 auto;
    box-shadow: 8px 8px 5px #444;
}

thead {
    background-color: pink;
}

td {
    border-top: 1px solid red;
    text-align: left;
    background-color: white;
}

.code {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;
}

.refs {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
}

code {
    background: var(--code-background-inline);
    padding: .125rem .25rem;
    width: fit-content;
}

#charhead {
    text-align: left;
    margin: 25px 400px;
}

.charref {
    margin: 0 200px 100px 200px;
    float: left;
}

div .dispdiv {
    float: right;
    margin-right: 500px;
}